@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
}

html, body, #root {
  /* height: 100%; */
  margin: 0;
  /* padd ing: 0; */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/ppneuemontreal-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}